*.class
.settings*
*.project
*target*
.classpath
*META-INF*
*gwt-unitCache*
log/
*/.gwt/*
.gwt/
log/
*.idea*
*.iml
*_web_war.xml
*_web_war_exploded.xml
Maven_*.xml
.name
compiler.xml
encodings.xml
misc.xml
modules.xml
vcs.xml
    